[submodule "develop_infrastructure/docker/nexus/nexus-repository-apt"]
	path = develop_infrastructure/docker/nexus/nexus-repository-apt
	url = https://github.com/sonatype-nexus-community/nexus-repository-apt.git
[submodule "develop_infrastructure/docker/nexus/nexus-repository-helm"]
	path = develop_infrastructure/docker/nexus/nexus-repository-helm
	url = https://github.com/sonatype-nexus-community/nexus-repository-helm.git
