[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group saml/oran-gerrit-it-dep-committers
	read = group GitHub Replication
[project]
	description = Repo for integration and deployment related scripts, Helm charts, etc.
[receive]
	rejectImplicitMerges = true
[plugin "its-jira"]
	enabled = true
