[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group saml/oran-gerrit-it-dep-committers
	read = group GitHub Replication
	pushMerge = group saml/oran-gerrit-it-dep-committers
[project]
	description = Repo for integration and deployment related scripts, Helm charts, etc.
[receive]
[access "refs/heads/master"]
	label-Code-Review = -2..+2 group saml/lf-releng
	label-Verified = -1..+1 group saml/lf-releng
	submit = group saml/lf-releng
[plugin "its-jira"]
	enabled = true
