#  ============LICENSE_START===============================================
#  Copyright (C) 2024-2025 OpenInfra Foundation Europe. All rights reserved.
#  ========================================================================
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#  ============LICENSE_END=================================================

# Default values for Servicemanager

imagePullPolicy: IfNotPresent
image:
  name: 'o-ran-sc/nonrtric-plt-servicemanager'
  tag: 0.2.2
service:
  httpName: http
  ports:
  - name: http
    internalPort: "8095"
    targetPort: "8095"
    nodePort: 31575
  type: NodePort
liveness:
  initialDelaySeconds: 300
  periodSeconds: 10
readiness:
  initialDelaySeconds: 60
  periodSeconds: 10
resources:
  small:
    limits:
      cpu: 250m
      memory: 256Mi
    requests:
      cpu: 80m
      memory: 128Mi
  large:
    limits:
      cpu: 400m
      memory: 8Gi
    requests:
      cpu: 200m
      memory: 2Gi
  unlimited: {}
nameOverride: ""


allowHttp: true
SERVICE_MANAGER_ENV: ""

data:
  .env: |
    # The Kong Data plane provides the endpoint that Service Manager gives to the rApp so that the rApp can invoke the CAPIF published API.
    # In a Kubernetes environment, we need to use the Kong NodePort IP and nodePort if the rApp needs access from outside the Kong cluster.
    # From inside the Kong cluster, we can use the Kubernetes cluster DNS entry, oran-nonrtric-kong-proxy.nonrtric.svc.cluster.local.
    KONG_DOMAIN: "kong"
    KONG_PROTOCOL: "http"
    KONG_CONTROL_PLANE_IPV4: "oran-nonrtric-kong-admin.nonrtric.svc.cluster.local"
    KONG_CONTROL_PLANE_PORT: "8001"
    KONG_DATA_PLANE_IPV4: "oran-nonrtric-kong-proxy.nonrtric.svc.cluster.local"
    KONG_DATA_PLANE_PORT: "80"
    CAPIF_PROTOCOL: "http"
    CAPIF_IPV4: "capifcore.nonrtric.svc.cluster.local"
    CAPIF_PORT: "8090"
    LOG_LEVEL: "Info"
    SERVICE_MANAGER_PORT: "8095"
