#  ============LICENSE_START===============================================
#  Copyright (C) 2023 Nordix Foundation. All rights reserved.
#  Copyright (C) 2023-2025 OpenInfra Foundation Europe. All rights reserved.
#  ========================================================================
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#  ============LICENSE_END=================================================
#

apiVersion: apps/v1
kind: Deployment
metadata:
  name: redpanda-console
  labels:
spec:
  selector:
    matchLabels:
      app: redpanda-console
  template:
    metadata:
      labels:
        app: redpanda-console
    spec:
      initContainers:
      - name: kafka-readiness-check
        image: {{ include "repository.nexusProxyRepo" . }}/{{ .Values.image.alpine.name }}:{{ .Values.image.alpine.tag }}
        command: ['sh', '-c', 'apk add --no-cache netcat-openbsd && nc -zv onap-strimzi-kafka-bootstrap.onap 9092']
      containers:
      - name: redpanda-console
        image: {{ include "repository.nexusProxyRepo" . }}/{{ .Values.image.redpanda.name }}:{{ .Values.image.redpanda.tag }}
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        env:
        - name: KAFKA_BROKERS
          value: "onap-strimzi-kafka-bootstrap.onap:9092"
        - name: KAFKA_SASL_ENABLED
          value: "true"
        - name: KAFKA_SASL_MECHANISM
          value: "SCRAM-SHA-512"
        - name: KAFKA_SASL_USERNAME
          value: "redpanda-console-ku"
        - name: KAFKA_SASL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: redpanda-console-ku
              key: password
        ports:
        - name: http
          containerPort: 8080
      restartPolicy: Always