#  ============LICENSE_START===============================================
#  Copyright (C) 2020-2023 Nordix Foundation. All rights reserved.
#  Copyright (C) 2023-2025 OpenInfra Foundation Europe. All rights reserved.
#  ========================================================================
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#  ============LICENSE_END=================================================

# Default values for Information Coordinate Service.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

imagePullPolicy: IfNotPresent
image:
  name: "o-ran-sc/nonrtric-plt-informationcoordinatorservice"
  tag: 1.6.1
initContainer:
  image:
    name: busybox
    tag: 1.28
service:
  type: ClusterIP
  ports:
  - name: http
    internalPort: "9082"
    targetPort: "8083"
    name_tls: https
    internalPort_tls: "9083"
    targetPort_tls: "8434"
liveness:
  initialDelaySeconds: 20
  periodSeconds: 10
readiness:
  initialDelaySeconds: 20
  periodSeconds: 10
persistence:
  size: 2Gi
  storageClassName: standard
ingress:
  enabled: false

application:
  spring:
    profiles:
      active: prod
    main:
      allow-bean-definition-overriding: true
    aop:
      auto: false
  management:
    endpoints:
      web:
        exposure:
          include: "loggers,logfile,health,info,metrics,threaddump,heapdump"

  logging:
    level:
      ROOT: INFO
      org.springframework: ERROR
      org.springframework.data: ERROR
      org.springframework.web.reactive.function.client.ExchangeFunctions: ERROR
      org.oransc.information: INFO
    file:
      name: /var/log/information-coordinator-service/application.log
  server:
    port : 8434
    http-port: 8083
    ssl:
        key-store-type: JKS
        key-store-password: policy_agent
        key-store: /opt/app/information-coordinator-service/etc/cert/keystore.jks
        key-password: policy_agent
        key-alias: policy_agent
  app:
    filepath: /opt/app/information-coordinator-service/data/application_configuration.json
    webclient:
      trust-store-used: false
      trust-store-password: policy_agent
      trust-store: /opt/app/information-coordinator-service/etc/cert/truststore.jks
      # Configuration of usage of HTTP Proxy for the southbound accesses.
      # The HTTP proxy (if configured) will only be used for accessing NearRT RIC:s
      http.proxy-host:
      http.proxy-port: 0
    vardata-directory: /var/information-coordinator-service
