#  ============LICENSE_START===============================================
#  Copyright (C) 2024-2025 OpenInfra Foundation Europe. All rights reserved.
#  ========================================================================
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#  ============LICENSE_END=================================================
#

global:
  nodePortPrefixExt: 305
  # This is used by the postgres container
  imageRegistry: "nexus3.o-ran-sc.org:10001"
  #Strimzi Kafka properties
  useStrimziKafka: true
  kafkaTopics:
    topologyIngestionTopic:
      name: &topologyIngestionTopic topology-inventory-ingestion

initsql:
  configmap:
    name: &sqlconfigmapname "topology-exposure-inventory-sql-init-config"

postgresql:
  image:
    debug: true
    repository: bitnamilegacy/postgresql
  auth:
    enablePostgresUser: true
    usePasswordFiles: true
    postgresPassword: teiv
    username: &dbusername topology_exposure_user
    password: &dbpassword dbpassword
    database: topology_exposure_db
  volumePermissions:
    enabled: true
    image:
      repository: bitnamilegacy/os-shell
  primary:
    initdb:
      scriptsConfigMap: *sqlconfigmapname
      user: postgres
      password: teiv
    persistence:
      size: 1Gi
      storageClass: pgsql-sc

topology-exposure:
  name: topology-exposure
  imagePullPolicy: IfNotPresent
  image:
    teiv:
      name: o-ran-sc/smo-teiv-exposure
      tag: 0.3.0
  service:
    type: ClusterIP
    ports:
    - name: http
      internalPort: "8080"
      targetPort: "8080"
  liveness:
    initialDelaySeconds: 60
    periodSeconds: 10
    # necessary to disable liveness probe when setting breakpoints
    # in debugger so K8s doesn't restart unresponsive container
    enabled: true
    port: http-api

  readiness:
    initialDelaySeconds: 60
    periodSeconds: 10
    port: http-api
  persistence:
    size: 2Gi
    storageClassName: standard
  kafkaUser:
    authenticationType: scram-sha-512
    acls:
      - name: topology-inventory-ingestion-consumer
        type: group
        operations: [Read]
      - name: *topologyIngestionTopic
        type: topic
        operations: [Create, Read, Write]


topology-ingestion:
  name: topology-ingestion
  imagePullPolicy: IfNotPresent
  image:
    teiv:
      name: o-ran-sc/smo-teiv-ingestion
      tag: 0.3.0
  service:
    type: ClusterIP
    ports:
    - name: http
      internalPort: "8080"
      targetPort: "8080"
  liveness:
    initialDelaySeconds: 60
    periodSeconds: 10
    # necessary to disable liveness probe when setting breakpoints
    # in debugger so K8s doesn't restart unresponsive container
    enabled: true
    port: http-api

  readiness:
    initialDelaySeconds: 60
    periodSeconds: 10
    port: http-api
  persistence:
    size: 2Gi
    storageClassName: standard
  # Strimzi Kafka config
  kafkaUser:
    authenticationType: scram-sha-512
    acls:
      - name: topology-inventory-ingestion-consumer
        type: group
        operations: [Read]
      - name: *topologyIngestionTopic
        type: topic
        operations: [Create, Read, Write]

  kafkaTopic:
    - name: *topologyIngestionTopic

ncmp-to-teiv-adapter:
  name: ncmp-to-teiv-adapter
  imagePullPolicy: IfNotPresent
  image:
    name: o-ran-sc/smo-ncmp-to-teiv-adapter
    tag: 0.0.2
  service:
    type: ClusterIP
    ports:
      - name: http
        internalPort: "8080"
        targetPort: "8080"
        port: 8080
  liveness:
    initialDelaySeconds: 20
    periodSeconds: 10
  readiness:
    initialDelaySeconds: 20
    periodSeconds: 10
  persistence:
    size: 2Gi
    storageClassName: standard
  kafkaUser:
    authenticationType: scram-sha-512
    acls:
      - name: *topologyIngestionTopic
        type: topic
        operations: [Write]

focom-to-teiv-adapter:
  name: focom-to-teiv-adapter
  imagePullPolicy: IfNotPresent
  image:
    name: o-ran-sc/smo-focom-to-teiv-adapter
    tag: 0.1.0
  service:
    type: ClusterIP
    ports:
      - name: http
        internalPort: "8080"
        targetPort: "8080"
        port: 8080
  liveness:
    initialDelaySeconds: 20
    periodSeconds: 10
  readiness:
    initialDelaySeconds: 20
    periodSeconds: 10
  persistence:
    size: 2Gi
    storageClassName: standard
  kafkaUser:
    authenticationType: scram-sha-512
    acls:
      - name: *topologyIngestionTopic
        type: topic
        operations: [Write]
  # Kubeconfig configuration for FOCOM and O2IMS clusters
  # Set enabled to true and provide kubeconfig YAML content as string
  kubeconfig:
    focom: |
      apiVersion: v1
      clusters:
      - cluster:
          certificate-authority-data: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURCVENDQWUyZ0F3SUJBZ0lJUHNvbGd1NFFiamd3RFFZSktvWklodmNOQVFFTEJRQXdGVEVUTUJFR0ExVUUKQXhNS2EzVmlaWEp1WlhSbGN6QWVGdzB5TlRFeE1qZ3hNekUyTWpSYUZ3MHpOVEV4TWpZeE16SXhNalJhTUJVeApFekFSQmdOVkJBTVRDbXQxWW1WeWJtVjBaWE13Z2dFaU1BMEdDU3FHU0liM0RRRUJBUVVBQTRJQkR3QXdnZ0VLCkFvSUJBUURCTFVFMkVrWXFybWpNa0piR1hFTGQrcGpYRDVHTFNxdGR3aU1KRStSNWFpZnhGYS9YZWM0N2dVMkEKSWJ6UkFNdFdyaHgzeDZOSGd5RWFMNFJ1Nm5EM2ErQWQyeDlqS2w4V0hrSU5NVlRkU0hvSlFGeVNQYU44MllCMgpUdDZRR0gxMGlOUFZKMXB4VzhUaEhVSUpzZTJqVVRVVHVvamZ1MjNXaEQxdUsyVjFUVjZqU1c3di9EVFRuUkZhClZ3VHlBTHlWdHFyMHh5WlZ5Rjc4Y05vOERkZ2pBTEQ1RlExaHVzU0c3NkVaeUJRNXVoaWZCa1lNaFlsRGlCSmsKQW92UW9paExEc0FjalJYYW1tcnhzTk1tZ2M0anRKaFdMZlVRSHhJUmNYYlZ6ZlFEUDlhaTlxM0d6ZjBFWWcrKwovT1BaSXdWOVFkS0VScVVibXowRGJXUytCeGJ6QWdNQkFBR2pXVEJYTUE0R0ExVWREd0VCL3dRRUF3SUNwREFQCkJnTlZIUk1CQWY4RUJUQURBUUgvTUIwR0ExVWREZ1FXQkJSUW1uT1hicUowV2Q1TnhZWS9nMlkwRXo1VHRqQVYKQmdOVkhSRUVEakFNZ2dwcmRXSmxjbTVsZEdWek1BMEdDU3FHU0liM0RRRUJDd1VBQTRJQkFRQ0o5VDlzNXIzSQp4QmhNN0FBeGg0SUFRT1lwQXBGa3k3Rjh5bXVwVmtHUWN5cVFlRUZLc085WFlTY0czZTdZR0l4aG5Dd2h1WFlUCndFelRpMTRFWDZzUFV1VUhwZXQ3dkExdE9Ec2NVcmFpZDZGaGRHM2RkNm1rc2dxNEFnT0FXK1IwREFCaXVqTy8KZTlwMFUxSGVCOVhhTlcxSGltOEFFQk8zTEVPMmZGTVorbHZVdEVUb3RRUzhrVWtRU3RYRkxDUW8zbWY3a3hzeApZM092K2MxRllJSmZ1azdKelYwekxHSVh0MU1KSlVya28yQWMzSXVIUHV2bmNjcVBaNUVYSThURkowMkp5alVXCjZhSDR4Nmx0RGcwR1l6eGpOVURnbkt5dm1XK0Z3a0h1YmZnN0d1UktxK1d2RFlaa1E1YTViaVlZL29lVGVhdkwKYWJkSUNkc0Ivd2FHCi0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K
          server: https://focom-cluster-control-plane:6443
        name: kind-focom-cluster
      contexts:
      - context:
          cluster: kind-focom-cluster
          user: kind-focom-cluster
        name: kind-focom-cluster
      current-context: kind-focom-cluster
      kind: Config
      preferences: {}
      users:
      - name: kind-focom-cluster
        user:
          client-certificate-data: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURLVENDQWhHZ0F3SUJBZ0lJS3RoaFk3MTBTcTB3RFFZSktvWklodmNOQVFFTEJRQXdGVEVUTUJFR0ExVUUKQXhNS2EzVmlaWEp1WlhSbGN6QWVGdzB5TlRFeE1qZ3hNekUyTWpSYUZ3MHlOakV4TWpneE16SXhNalJhTUR3eApIekFkQmdOVkJBb1RGbXQxWW1WaFpHMDZZMngxYzNSbGNpMWhaRzFwYm5NeEdUQVhCZ05WQkFNVEVHdDFZbVZ5CmJtVjBaWE10WVdSdGFXNHdnZ0VpTUEwR0NTcUdTSWIzRFFFQkFRVUFBNElCRHdBd2dnRUtBb0lCQVFEQTRDYy8KZzRiakZVNFE4QTY0T3FPVGZEVE1SRzlxa3cyY2FEclJxZ2dtMGxuQ1NZd3dJeEVkQ2JyNnZmcnQwVks0TkRHVQp6SWsxSFcvd25rSUw1Nm9VcjZQU0pMQ0xoaUV1OTYzS3p1aCtkKzZIUnVoNTlhWFZTUEhTbExYQVFUQTRPUFJqCjJKdFlFaW9iTkxPY3hZcFlBN2hHM2NlZ3Y3OFZOczBOcTg2RTZIWFR5ZGVISzFMYTlJSUFoaFVSZ01pZUNFaUEKUUJRMkgycHdsY3lJVmErR3RtaXBNbzJVZkFhOUR4bjI1alZmaEFaUU1GaWxGa0Y4OEV5MEJQa1hxNU02aDR0Rgpwb29UQUdYRVVQanBvUEQ5aUtvcExnVi9ZTDNFd080dkJSZXhyOVJCZWs3bkVMQVNVaWorSVpLdHVleXJjSzV3CmQ0bGM4NU5pSVpCdTRnUnJBZ01CQUFHalZqQlVNQTRHQTFVZER3RUIvd1FFQXdJRm9EQVRCZ05WSFNVRUREQUsKQmdnckJnRUZCUWNEQWpBTUJnTlZIUk1CQWY4RUFqQUFNQjhHQTFVZEl3UVlNQmFBRkZDYWM1ZHVvblJaM2szRgpoaitEWmpRVFBsTzJNQTBHQ1NxR1NJYjNEUUVCQ3dVQUE0SUJBUUNOQjB1VUUvVmdaNEVTcWRvWE9ETUdERmJ1CndwUDZiN3BpdDQvR0thd1JwWC9iT1FtT0hlRWVZa3RzYVpoWXE3ZGw1dVA3M29IRE1LaGJXS21sUTVNNHpDVlIKTDVyRWo2UVBsVEZFbFB5OEpHaU9uYURwZ1RmdWdzVUFjSW51dU43dkNzdmNxK2JEUDBOdmZJOUNZN1ljNHJvTQpXYWhxVkNoTDhiL1ZiWHdYUGpGenp2TGVnQlRhenJvNFNnaXRGMjVSNFFkejA3cFBlaW1MVlRnU1hBd0t2Q29pCjFoZzM0UEdPV1ptT082ZGdScWJiV25UV3IxRmwvb0MzRWJQN0RiZnNPZXdNTnNlenArVjJzcUxHZE5WZEJmQmkKbk0vbklWRk9VVjROYStQRHFRQkRaUDBFMVFWR1NyZXJKNUFhU2xROUlYZXgwS1VyUjhrcCtmdXdwYkdkCi0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K
          client-key-data: LS0tLS1CRUdJTiBSU0EgUFJJVkFURSBLRVktLS0tLQpNSUlFcFFJQkFBS0NBUUVBd09BblA0T0c0eFZPRVBBT3VEcWprM3cwekVSdmFwTU5uR2c2MGFvSUp0Slp3a21NCk1DTVJIUW02K3IzNjdkRlN1RFF4bE15Sk5SMXY4SjVDQytlcUZLK2owaVN3aTRZaEx2ZXR5czdvZm5mdWgwYm8KZWZXbDFVangwcFMxd0VFd09EajBZOWliV0JJcUd6U3puTVdLV0FPNFJ0M0hvTCsvRlRiTkRhdk9oT2gxMDhuWApoeXRTMnZTQ0FJWVZFWURJbmdoSWdFQVVOaDlxY0pYTWlGV3ZoclpvcVRLTmxId0d2UThaOXVZMVg0UUdVREJZCnBSWkJmUEJNdEFUNUY2dVRPb2VMUmFhS0V3Qmx4RkQ0NmFEdy9ZaXFLUzRGZjJDOXhNRHVMd1VYc2EvVVFYcE8KNXhDd0VsSW8vaUdTcmJuc3EzQ3VjSGVKWFBPVFlpR1FidUlFYXdJREFRQUJBb0lCQUVhbVZQb1k3YUhrdmZISwpYVG55a05TSFhMZXVJYm5DSCt3NDZjSy9LN2s4dUJCSTdJYjljVmxYcFJ3UDF3aWg4bER6SFc1SjljQjFCZm4zCm5tM0o4QzBmb1R4cW9CaWJpekF2SFlQNmdvTkEzeWpDT29uaUIxcTNHNDF0VjU0U3d0ejFUOS83Q2Z3YXV6MjMKOGtyc3VSNUFUcEgyenhiODVidVpsVWI2dGUxTXJuL3Zvc2JOQjVuTnBXRGprS2p4YlB0SEk4VlUyQVk4dnRUUQpIN3JONW9iQzRHWGUyYUYzZXFlOUh2emVDc0tsTzNGYnRBRHRTYmdGSHorZHZjTVF3NEZTTVdUcytXV2t2cGV3CnFUU21abnJCcTdveUJvbmU2dVhOdWt5a1dwSmt6Sm8yeEhPRUZKZ0ViaFlwL0lqMFNwVTBKb0VrM3ZRTCs2ZzkKVGVwR0I2RUNnWUVBNEhocGppL2txclpUZXdnVFQ1VEdXWmtidFdyRHhLdkp1dWtBRzVlQVNaeUVhYXpIMUtXOQpBL0l2anZRVllYTklJaUdkT2RxaW5uRmd2N1dQaEZPeDRrdmR0TXNZUkZKNVovTDZoTGhBR0xrMEFTa1lhbFBmCmJOUVNEYnZlMjBJSDRxaHhTeXBySEJZdlY1Vm5tSUdiQzBKcHp2S2pPWXdUaHN5VWh1NUd5UGtDZ1lFQTIvZWwKR3JhWHlNUWJSRWhsbmVzWmlUbE43UG4zUmdROHcxNlBrSExFaU9neVk0K1dqb2QyMEhkN3JYU3lQMWczdXo5SQptMmRUbzFSdDk0cHgvSDBDOFFBdFM4VlQ2bVhMNWxTNTVaUnplVElYK2hIS0RmVldlem5VM0Y5Sk9PNHVNV0VJCjI3T0RRcGloUlVjYzNpTW5jQjhOczNwaGdJcGx3ZThONWpXQzFZTUNnWUVBMTBWRFhkUTZoU2xVQ0NLbmVtT2cKa1o3UFB2M0QvNklNVmc5TVJpbldJMEpTanBIZ0Z1UlgwQ2Y4U2lsMU03NytSNVZiRm5mQ0N4ZUtoSEJYMGJ6KwpWSnNUWldaOHdGRWtFM2VubjQ2Z0VkWFR0T1UzZ0FrdHRVM3dmbkZVK1l0cXlvbG1GWUw1czdibThpVGJkQnVmCm1IMjV3WGxhNWo2YkgyU2xjSDJsTHVrQ2dZRUEwaXVLS3ozdlJMcHJPeERaVnN1OCtHb3lWSXg1Z1FLbmRCd3oKbTlhc2hnc2xxZzhWMFZVSlp5SGluOWJ5UUtmdmlBOXRObDdCZ1RzNFh0NS9Ecm43UjMzZHlabmZGZ1R4anovQQo1dVN5ZUVndXRKYXVzaXVKMSs5bnZLK21iS2pXcGdPS3pUQjE1L21oaldubTRUQkJqRlYvWjg4MHZmWitSNUE3CmZZdi9XRFVDZ1lFQXczcFhYdzFoZHI1bUozSjM0cjl2MHdoRXpXWDU3bUI0MTFkdlFHZzdrMndTeFpFcUNiYmMKSDg1ajZocmlpM1N0clN2RllaTDJZOUNBME1RUGJnT0pOZExGZlc3aVVTTFF4QXkwVHhLdW9SZDBDRlJhMEJueQptbG5oT3ZWZElkQ2Q0S25Ib1AwM29uQ2N0eE5rN3E0dkwzY05kSXJvTk1RaG01Q3JrQUwwaW9rPQotLS0tLUVORCBSU0EgUFJJVkFURSBLRVktLS0tLQo=
    o2ims: |
      apiVersion: v1
      clusters:
      - cluster:
          certificate-authority-data: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURCVENDQWUyZ0F3SUJBZ0lJTFM1eTI1clN1M3d3RFFZSktvWklodmNOQVFFTEJRQXdGVEVUTUJFR0ExVUUKQXhNS2EzVmlaWEp1WlhSbGN6QWVGdzB5TlRFeE1qY3hNakl4TVRSYUZ3MHpOVEV4TWpVeE1qSTJNVFJhTUJVeApFekFSQmdOVkJBTVRDbXQxWW1WeWJtVjBaWE13Z2dFaU1BMEdDU3FHU0liM0RRRUJBUVVBQTRJQkR3QXdnZ0VLCkFvSUJBUUNvNzZ2cks1VmZmNGNSV1Yxem1xaFZqUTJkd1RHai9jVDE0NC9BTE1mQmxHZWgxdnNaa3lKZWlSR00KSm1leUpxYjVKck1INVlBMVNOdWY5WDZCWmYvU0ErT2t0TFg0c0Z1MEl1QzExdkszZmVDa2JaTzJ4S1hGb0RCNQpBaml1aG16N1M3MTV6Wm9oVVE5ODZ0NE1EMTJ5K2tKTGNXMnZJbWRsdVYxVXFkMzRpZzNwUWJhUFIwZTAyT014CkY2VDE3aFE3WjRTMktPSldBdCtNUlBqQ0xhOGd4aXF4dVgzV01LNVFEbHFGamJ2V0FUNDZDZ3V2aVoxTE91THIKUUlEMGVYU2FTa0s4UHVGMmluWVhHVUhsSG9rMWhyc0xPMHRZZTlwdFU1eVlUREViU3R2OUVIMlJiaXBZS1Rycwoyd0N3QnRoVHRGY2V1VGMzRW1MVGVsN1VrbVd2QWdNQkFBR2pXVEJYTUE0R0ExVWREd0VCL3dRRUF3SUNwREFQCkJnTlZIUk1CQWY4RUJUQURBUUgvTUIwR0ExVWREZ1FXQkJSbFdMdG5CZ200TVdBWmlucHlKanVpRC9DazhUQVYKQmdOVkhSRUVEakFNZ2dwcmRXSmxjbTVsZEdWek1BMEdDU3FHU0liM0RRRUJDd1VBQTRJQkFRQ28zUVhOWUN4RwprNEJHY2ZkRUpoN2c1clpwRTRrRHRBa0pxc0orUk1CcURsRk9lQWM3N3JVQUhQRENQYzNkZ1dWOEoyUlpRQXI0CkswZno5ckVUYkhvU0VFM01zdjBRNFBFeCtSOFMxMWFRMnhmM1VVaEd2K2xISGRkWkdZUzFWYnNzRnpFS1VjeDIKRFAwZGNvVEN6RlJ1aVhPalZTWDdGUGcvU3BqU1R1eGxvSUVQa25NOWV5Slc0OGVIbzU3UmN3OXE2L2EzdWhrQwpEbWFsR1JUdVY4K0dubVRUWHV2enIyRHVkV2l2T2FXYmNzZHlDMUFSa2Q3RlZCWFpWV3dkUDd3WjhZSDI0QzRhClVwNmN1VmpMTEtQKzFGd2NSZTZBc01XNXRaaHdTQUVLZm8za0E0SWNrRm1lWnlSLys3MVUvOC9YYVJJZ3piNHcKUVZuSitaT3RnYnh6Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K
          server: https://kind-control-plane:6443
        name: kind-kind
      contexts:
      - context:
          cluster: kind-kind
          user: kind-kind
        name: kind-kind
      current-context: kind-kind
      kind: Config
      preferences: {}
      users:
      - name: kind-kind
        user:
          client-certificate-data: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURLVENDQWhHZ0F3SUJBZ0lJQ21ud1hXK2NBNHN3RFFZSktvWklodmNOQVFFTEJRQXdGVEVUTUJFR0ExVUUKQXhNS2EzVmlaWEp1WlhSbGN6QWVGdzB5TlRFeE1qY3hNakl4TVRSYUZ3MHlOakV4TWpjeE1qSTJNVFJhTUR3eApIekFkQmdOVkJBb1RGbXQxWW1WaFpHMDZZMngxYzNSbGNpMWhaRzFwYm5NeEdUQVhCZ05WQkFNVEVHdDFZbVZ5CmJtVjBaWE10WVdSdGFXNHdnZ0VpTUEwR0NTcUdTSWIzRFFFQkFRVUFBNElCRHdBd2dnRUtBb0lCQVFDOHA0WlcKY2pIOFRTQzlicXloTm11RFE3NjVnREdyQVlwaXBSREJpUlJXY210TnZZeUZpTjZsSE5nUHFHdjlZTXltUnNSOApqck1jcmI1L1lJR0lMd1RoUUZYUnB6eUZTd0VoSTdZSW1FdVZGZmpNZExRbEUxYktQclh2ellpN0lEZ1h2ZnZZCmpkd3hVWWhicENvUjZYSzFsUkhGb3RZWGJuU1hiQXRWWkVVcnA1TXdrMDM3RVZJaUxTUC9ycjZCL2M5dUNjcW0KVGJtTWo5VmpMNW1TSjBCVkRVMTh3eGdpdGY4RnliZkx3SVNLK0hCZ0Rwb1FsYmZEQ05BSGNDQUhqalJpdTFJeAplMm14eUJGQ2RmQUl4N0VtSFZXV1o0azRKbXhodHorelc2Yi81YjhlQ0lmRFR3SmN4QnAzUE1jbVNIaktqM1ZUCndkYksxYm1paVJ4emw2a25BZ01CQUFHalZqQlVNQTRHQTFVZER3RUIvd1FFQXdJRm9EQVRCZ05WSFNVRUREQUsKQmdnckJnRUZCUWNEQWpBTUJnTlZIUk1CQWY4RUFqQUFNQjhHQTFVZEl3UVlNQmFBRkdWWXUyY0dDYmd4WUJtSwplbkltTzZJUDhLVHhNQTBHQ1NxR1NJYjNEUUVCQ3dVQUE0SUJBUUNZbnJsaHJzVzBjV2JQbGI1eDA0cnA2ZFJnCm9hRWJlZW02Yk1LbjhuLzRlemc2bW5UMVpzWWd1NElOWm4yQ2RCK1J4MHFhNTV3SFI0cC9YSmlLQ0JMelZaemUKa041d0Y5bWlvcjJYTUVyZHVRZ2F1MDVWbThUdURUUURMT3VVZDhrNGM1QkJiVWx2ZWQyRDUrVTBnQXJrbFJZagplSDFIOTd5VG9SMnhGNDB2Ty9OMEw0a1FMcVdJTHR0TWZPdzZlN1VhZk9IV21DV3pKUGd3QllpODNwVHB3TFlJCjdneFdXYXR3bXNrNmQ5d0NvV29QOEs2ZlpWMnZvZElEN3pXcjMzNzNTanpwSndUalFvUXFtODc3VVpXNGRPUFAKMW5CK1FoL1hka1VaWXlGbkFySkJSaEJnWVFxczFScG5abUs0Mm0yRktUaC90d1cyVG4vVWZIbi9PMUNRCi0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K
          client-key-data: LS0tLS1CRUdJTiBSU0EgUFJJVkFURSBLRVktLS0tLQpNSUlFcEFJQkFBS0NBUUVBdktlR1ZuSXgvRTBndlc2c29UWnJnME8rdVlBeHF3R0tZcVVRd1lrVVZuSnJUYjJNCmhZamVwUnpZRDZoci9XRE1wa2JFZkk2ekhLMitmMkNCaUM4RTRVQlYwYWM4aFVzQklTTzJDSmhMbFJYNHpIUzAKSlJOV3lqNjE3ODJJdXlBNEY3MzcySTNjTVZHSVc2UXFFZWx5dFpVUnhhTFdGMjUwbDJ3TFZXUkZLNmVUTUpOTgoreEZTSWkwai82NitnZjNQYmduS3BrMjVqSS9WWXkrWmtpZEFWUTFOZk1NWUlyWC9CY20zeThDRWl2aHdZQTZhCkVKVzN3d2pRQjNBZ0I0NDBZcnRTTVh0cHNjZ1JRblh3Q01leEpoMVZsbWVKT0Nac1liYy9zMXVtLytXL0hnaUgKdzA4Q1hNUWFkenpISmtoNHlvOTFVOEhXeXRXNW9va2NjNWVwSndJREFRQUJBb0lCQUFnZFlKN3BUSk1nc2k3VAp5dU1vVnhtUFdXM2JRTWV0U2ttUjloV05FdTNoQUJLWSs2bG15TVRyWjdQTXQ5QnZVSDQ2Zndzb2pEWElsM0FkCk01VXJDSmV6ejcwejUxdUliV1VDaHpyNWFnN2dvaElSVndwZE9aZDdlUkgya2xJU1FiZHJ1YUNJQVpleGZSOE0KQWE5QmptaVhIK3VUWklnZmZTNWlQRjZROEpTL0RvU1psLzMveHI3SWRUR20wNy9rajBkMFVYdzFyL0c4OXNBawpncWJvcHY5WXpQY2FXWDVwSldPL2FEdjNJeTBLcHVNRE9NUHpQY3RpenpOUU9MVUE4V3p1cmFEUHY3QXZjTm5LCi81VFFtQ08yRUgxT0FCZVBOYXIrNkkxcTR5Qm1SZmg5RDhqL044ZEZiY1Nsb0x3dDdkZG1RVU9nT1hoOUhTWjEKWDJhQ0o2RUNnWUVBeElpMEg2R2pXNmdsL0JyQUdNMzRzYmxKVEx4NmdLNURRUDN6K1Z4Y3MzekFwM3hCQnlLYwpZU0lpcGxDTE1ZNmhGZ1VHSzJ6N1BxQTd0U2xuNkxSaXUvZDlacWtzNFJJRkNSM3lsYjljTGVTWmZhNkdQM1dSCkt4NS9memkxYzllMFRoOTNCM3VnTmZHcGZCTmd0VHZIakhXSU1BcXQ4bC8wc1ljNnJEcFkxTkVDZ1lFQTlieDUKM3h0cy9MRWg4cFBWdW04UXVYS3RWZit4K0lqYVlsa2hsTklOTndiK3l6NXAyeXVod3prSTMvUm90Z3UwUXE4ZApoVk9ZM0p2N0YvTStiZUgxWmVlTjl6UG9ha3g1cHZQQ3RLbDd4YlByaUdsVmZlMGxpUHhVOFpRMzUzdjZBeUlTCnM4UHA4QkF1bUFhOXREY1d3dnVSeWo3Y3dxbE9DZzEwbDZXZi9IY0NnWUVBdUM5UmQ0OTVWQTNLdzNDaWROeWIKWkp1NzZURitNUmlmcU1vWEdxd0hxS0tTdnFRQklWbTdhb0NlTG5XdmJWczQ5alR4S2tOeFZxaStMRExJMGRvego2ZXF3V0VUVjdYeUF3YUdTVmVySHphNitkbjNZREtMMjBJMDllWkpBNDNiVTRKNDJaQW5sQklrZGlFMTB4WVJuCnArZ0NJTnZ4VndPOGc1K3pTZk5JaXZFQ2dZQThzTklBc2t0V2xZRG00bkEwM1YxcUQ5S1RuTlVkcHQ4WXp4Nm0KSE1LNnhuV0RTT1RvQm55ck5Kam1odnlkaVlKNXZib3l4WlRKVjVUS00zOUZzRHJsY2l6ejB0UWgvTVZHNElsRQpDVi9TVWo5bnIydzM3NndIaXhxSGw2Mis5RFdwTkc4ZUN0THFRWFRnZ3ptekdxLzZkQnRyc2Q3Z0RPU0RReE42CnFLTTh2UUtCZ1FDUGtoUURiRmozSzdEK3piQm4vYXZlWVVvc0dlNXRydnB0R1ZFRDhDSktIakxrU0hxY01jSEYKUTFaU2pTdnpuQkNhUWZrL3VnMlJ6L0VXbzdNQVJjSSszYVVlVkRBYnlpUFJHVHdzbjNYbVJ4YkpycHprOE1UOApaM1NBcDJjRnBML3BhSWh3Rkh3ckVoWFJERXBRWTU2TlVnQXMrZEZHZHBiMWZ1cmMrOHdpT3c9PQotLS0tLUVORCBSU0EgUFJJVkFURSBLRVktLS0tLQo=