################################################################################
#   Copyright (C) 2023 OpenInfra Foundation Europe. All rights reserved.       #
#                                                                              #
#   Licensed under the Apache License, Version 2.0 (the "License");            #
#   you may not use this file except in compliance with the License.           #
#   You may obtain a copy of the License at                                    #
#                                                                              #
#       http://www.apache.org/licenses/LICENSE-2.0                             #
#                                                                              #
#   Unless required by applicable law or agreed to in writing, software        #
#   distributed under the License is distributed on an "AS IS" BASIS,          #
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   #
#   See the License for the specific language governing permissions and        #
#   limitations under the License.                                             #
################################################################################

rappmanager:
  csarlocation: /opt/app/rappmanager/csar
  acm:
    baseurl: http://policy-clamp-runtime-acm.default:6969/onap/policy/clamp/acm/v2/
    maxRetries: 10
    retryInterval: 2 #seconds
  sme:
    baseurl: http://capifcore:8090
    providerBasePath: /api-provider-management/v1/
    invokerBasePath: /api-invoker-management/v1/
    publishApiBasePath: /published-apis/v1/
    maxRetries: 3
    retryInterval: 2 #seconds
  dme:
    baseurl: http://informationservice:9082

spring:
  jackson:
    default-property-inclusion: non_null

logging:
  level:
    root: INFO
    com.oransc: DEBUG
    org.apache.http: DEBUG
    httpclient.wire: DEBUG
    org.springframework.web.client.RestTemplate: TRACE

management:
  endpoints:
    web:
      exposure:
        include: "*"